body {
  margin: 0;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}

h1, h2 {
  color: #66BFBF;
}

a {
  color: #11999E;
  text-decoration: none;
}

h1 {
  margin: 30px auto 0 auto;
  font-family: 'Dancing Script', cursive;
  font-size: 5.625rem;
}

h2 {
  font-family: 'IBM Plex Serif', serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  font-family: 'IBM Plex Serif', serif;
  color: #11999E;
}

hr {
  width: 5%;
  border: none;
  border-top: 7px dotted #EAF6F6;
}

.mountain-img{
  position: relative;
  top: 3.5px;
}

.profile {
  margin: 60px auto;
}

.top-container {
  background-color: #5463FF;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin-bottom: 120px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
}

.skill-row {
  width: 50%;
  margin: 30px auto;
  text-align: left;
  line-height: 2;
}

.game-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.coding-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 10px;
  font-family: 'IBM Plex Serif', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

a {
  color: #11999E;
  margin: 10px 20px;
  font-weight: bold;
}

a:hover{
  color: #EAF6F6;
}

.bottom-container{
  background-color: #66BFBF;
  color: #EAF6F6;
  padding: 50px 0 20px;
}

.copyright{
  padding: 20px 0;
  font-size: 0.8rem;
}

.profile img{
  width: 15%;
  border-radius: 50%;
}

/* .game-desc{
  clear: left;
}

.coding-desc{
  clear: right;
} */
